In [2]:
import numpy as np
import pandas as pd #导入前置计算库

In [3]:
import matplotlib.pyplot as plt #导入图形库

In [6]:
data = pd.DataFrame({
            'tags':['#red#good#fun',
                    '#blue#fast#cool',
                    '#green#smart#calm',
                    '#yellow#bright#happy',
                    '#black#strong#bold']})
data

                   tags
0         #red#good#fun
1       #blue#fast#cool
2     #green#smart#calm
3  #yellow#bright#happy
4    #black#strong#bold

In [14]:
data2 = data['tags'].str.split('#',expand=True) #分割字符串
data2

  0       1       2      3
0       red    good    fun
1      blue    fast   cool
2     green   smart   calm
3    yellow  bright  happy
4     black  strong   bold

In [15]:
data2.drop(columns = [0])

        1       2      3
0     red    good    fun
1    blue    fast   cool
2   green   smart   calm
3  yellow  bright  happy
4   black  strong   bold