In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
data = pd.read_csv(r"C:\Users\13708\OneDrive\桌面\【机器学习】菜菜的sklearn课堂(1-12全课)\03数据预处理和特征工程\Narrativedata.csv")
data.head(5)

   Unnamed: 0   Age     Sex Embarked Survived
0           0  22.0    male        S       No
1           1  38.0  female        C      Yes
2           2  26.0  female        S      Yes
3           3  35.0  female        S      Yes
4           4  35.0    male        S       No

In [17]:
from sklearn.impute import SimpleImputer

In [18]:
data['Age']=SimpleImputer(missing_values=np.nan,strategy='mean').fit_transform(data[['Age']])

In [19]:
data['Sex']=SimpleImputer(missing_values=np.nan,strategy='most_frequent').fit_transform(data[['Sex']]).ravel()

In [20]:
data['Embarked']=SimpleImputer(missing_values=np.nan,strategy='most_frequent').fit_transform(data[['Embarked']]).ravel()

使用独热编码/哑变量 来描述名义变量

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [22]:
x = data.iloc[:,2:4]
x.head(5)

      Sex Embarked
0    male        S
1  female        C
2  female        S
3  female        S
4    male        S

In [23]:
enc = OneHotEncoder(categories='auto').fit(x)
result = enc.transform(x).toarray()

In [24]:
enc.get_feature_names_out()

array(['Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S'],
      dtype=object)

In [25]:
result

array([[0., 1., 0., 0., 1.],
       [1., 0., 1., 0., 0.],
       [1., 0., 0., 0., 1.],
       ...,
       [1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0.],
       [0., 1., 0., 1., 0.]])

In [26]:
newdata = pd.concat([data,pd.DataFrame(result)],axis=1)

In [27]:
newdata.drop(["Embarked",'Sex'],axis=1,inplace=True)

In [28]:
newdata.columns=['list','Age','Surived','Sex_female', 'Sex_male', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
newdata

,list,Age,Surived,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,22.000000,No,0.0,1.0,0.0,0.0,1.0
1,1,38.000000,Yes,1.0,0.0,1.0,0.0,0.0
2,2,26.000000,Yes,1.0,0.0,0.0,0.0,1.0
3,3,35.000000,Yes,1.0,0.0,0.0,0.0,1.0
4,4,35.000000,No,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
886,886,27.000000,No,0.0,1.0,0.0,0.0,1.0
887,887,19.000000,Yes,1.0,0.0,0.0,0.0,1.0
888,888,29.699118,No,1.0,0.0,0.0,0.0,1.0
889,889,26.000000,Unknown,0.0,1.0,1.0,0.0,0.0
890,890,32.000000,No,0.0,1.0,0.0,1.0,0.0